server:
  port: 8081
spring:
  application:
    name: user-service

  datasource:
    url: jdbc:mysql://localhost:3306/users
    username: root
    password: 12345
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  security:
    jwt:
      secret: 66df918f-c69c-4cc6-9be0-8172d2a4408b
      expiration: 86400000